<footer class="footer">
    <div class="footerbox container">
        <ul class="social-list social-list--footer list">
            <li class="social-list__item social-list__item--footer">
                <a href="" class="list social-list__link" aria-label="twitter" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-list__icon social-list__icon--footer social-list__icon--twitter">
                        <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="" class="list social-list__link" aria-label="instagramm" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-list__icon social-list__icon--footer social-list__icon--instagramm">
                        <use href="./images/sprite.svg#icon-instagramm"></use>
                    </svg>
                </a>
            </li>

            <li class="social-list__item">
                <a href="" class="list social-list__link" aria-label="facebook" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-list__icon social-list__icon--footer social-list__icon--facebook">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
            <address class="address-block">
                <ul class="address-block__list list">
                    <li class="address-block__item"><a class="address-block__link list" href="tel:(910)222-855" aria-label="Телефон"
                            class="list">
                            <svg class="address-block__icon" width="13" height="13">
                                <use href="./images/sprite.svg#icon-phone"></use>
                            </svg>(910)222-855</a></li>
                    <li class="address-block__item"><a class="address-block__link list" href="https://goo.gl/maps/rCuJhfWpxToNYLWu8" aria-label="Гугл карта" target="_blank"
                            rel="noopener noreferrer" class="list">
                            <svg class="address-block__icon" width="11" height="14.44">
                                <use href="./images/sprite.svg#icon-location"></use>
                            </svg>
                            New York</a></li>
                </ul>
            </address>
    </div>
</footer>