<header class="header">
    <div class="container header__container">
    <a href="" class="list header__logo">
        <svg class="icon-logo page-header__logo-icon">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    </a>
    <nav class="header__navigation">
        <ul class="list desktop-menu">
            <!-- TO DO!!add ancor name!! -->
            <li class="desktop-menu__item"><a href="#"
                    class="list desktop-menu__link">About
                    us</a></li>
            <li class="desktop-menu__item"><a href="#"
                    class="list desktop-menu__link">Program</a>
            </li>
            <li class="desktop-menu__item"><a href="#"
                    class="list desktop-menu__link">Reviews</a>
            </li>
            <li class="desktop-menu__item"><a href="#"
                    class="list desktop-menu__link">Contacts</a>
            </li>
        </ul>

        <button class="button__mobile-menu-open">
            O
        </button>
        <!-- <div class="mobile-menu">
            <button class="button__mobile-menu-close">
                X
            </button>
            <a href="" class="list mobile-menu__logo">
                <svg
                    class="icon-logo mobile-menu__logo-icon">
                    <use
                        href="./images/sprite.svg#icon-logo">
                    </use>
                </svg>
            </a>
            <ul class="list mobile-menu__list"> -->
                <!-- TO DO!!add ancor name!! -->
                <!-- <li class="mobile-menu__item"><a href="#"
                        class="list mobile-menu__link">About
                        us</a></li>
                <li class="mobile-menu__item"><a href="#"
                        class="list mobile-menu__link">Program</a>
                </li>
                <li class="mobile-menu__item"><a href="#"
                        class="list mobile-menu__link">Reviews</a>
                </li>
                <li class="mobile-menu__item"><a href="#"
                        class="list mobile-menu__link">Contacts</a>
                </li>
            </ul>
        </div> -->

    </nav>
    <div class="header__content">
    <h1 class="main-title">Donut Masterclass with the Donut
        King</h1>
    <p class="header__subtitle">Hosted by Eva Green</p>
    </div>
    <button class="button page-header__btn"
        type="button">Register</button>
    <ul class="list social-list page-header__social-list">
        <li class="social-list__item">
            <a class="list social-list__link">
                <svg class="social-list__icon icon-twitter">
                    <use
                        href="./images/sprite.svg#icon-twitter">
                    </use>
                </svg>
            </a>
        </li>
        <li class="social-list__item">
            <a class="list social-list__link">
                <svg
                    class="social-list__icon icon-instagramm">
                    <use
                        href="./images/sprite.svg#icon-instagramm">
                    </use>
                </svg>
            </a>
        </li>
        <li class="social-list__item">
            <a class="list social-list__link">
                <svg
                    class="social-list__icon icon-facebook">
                    <use
                        href="./images/sprite.svg#icon-facebook">
                    </use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
</header>
