<!-- TO DO!!add ancor name to links!! -->

<div class="mobile-and-tablet-menu is-close" data-menu>
  <div class="container mobile-and-tablet-menu__container">
    <button class="mobile-and-tablet-menu__button button__close-menu" data-menu-close>
      <svg
        class="mobile-and-tablet-menu__button-icon mobile-and-tablet-menu__button-icon--close"
        aria-label="close menu"
      >
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <a href="" class="list mobile-and-tablet-menu__logo">
      <svg class="icon-logo mobile-and-tablet-menu__logo-icon">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="list mobile-and-tablet-menu__list">
      <li class="mobile-and-tablet-menu__item">
        <a href="#about-us-section" class="list mobile-and-tablet-menu__link">About us</a>
      </li>
      <li class="mobile-and-tablet-menu__item">
        <a href="#program-section" class="list mobile-and-tablet-menu__link">Program</a>
      </li>
      <li class="mobile-and-tablet-menu__item">
        <a href="#reviews-section" class="list mobile-and-tablet-menu__link">Reviews</a>
      </li>
      <li class="mobile-and-tablet-menu__item">
        <a href="#contact-section" class="list mobile-and-tablet-menu__link">Contacts</a>
      </li>
    </ul>
  </div>
</div>
