<!-- burger-spin -->
<div class="container menu__container">
  <button class="hamburger-button hamburger-button--spin" type="button" data-menu-btn>
    <span class="hamburger-button__box">
      <span class="hamburger-button__inner"></span>
    </span>
  </button>
</div>
<div class="mobile-and-tablet-menu is-close" data-menu>
  <a href="#page-top" class="list mobile-and-tablet-menu__logo">
    <svg class="icon-logo mobile-and-tablet-menu__logo-icon">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <ul class="list">
    <li class="mobile-and-tablet-menu__item">
      <a href="#about-us-section" class="list mobile-and-tablet-menu__link">About us</a>
    </li>
    <li class="mobile-and-tablet-menu__item">
      <a href="#program-section" class="list mobile-and-tablet-menu__link">Program</a>
    </li>
    <li class="mobile-and-tablet-menu__item">
      <a href="#reviews-section" class="list mobile-and-tablet-menu__link">Reviews</a>
    </li>
    <li class="mobile-and-tablet-menu__item">
      <a href="#contact-section" class="list mobile-and-tablet-menu__link">Contacts</a>
    </li>
  </ul>
</div>

<div class="container scroll-up" id="btnGoTop">
  <a href="#page-top" class="list button scroll-up__button"> Go Up </a>
</div>