<header class="header">
  <div class="header__container container">
    <nav class="header__navigation">
      <a aria-label="logo" href="#" class="list header__logo">
        <svg class="icon-logo header__logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="list desktop-menu">
        <li class="desktop-menu__item">
          <a aria-label="about-us-section" href="#about-us-section" class="list desktop-menu__link">About us</a>
        </li>
        <li class="desktop-menu__item">
          <a aria-label="program-section" href="#program-section" class="list desktop-menu__link">Program</a>
        </li>
        <li class="desktop-menu__item">
          <a aria-label="reviews-section" href="#reviews-section" class="list desktop-menu__link">Reviews</a>
        </li>
        <li class="desktop-menu__item">
          <a aria-label="contact-section" href="#contact-section" class="list desktop-menu__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button aria-label="button open close" class="mobile-and-tablet-menu__button button__open-menu" data-menu-open>
      <svg
        class="mobile-and-tablet-menu__button-icon mobile-and-tablet-menu__button-icon--burger"
        aria-label="open menu"
      >
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="header__content">
      <h1 class="main-title">Donut Masterclass with the Donut King</h1>
      <p class="header__subtitle">Hosted by Eva Green</p>

      <a class="list button header__button" href="#registration-section">Register</a>

      <ul class="list social-list header__social-list">
        <li class="social-list__item">
          <a
            href=""
            class="list social-list__link"
            aria-label="twitter"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-list__icon social-list__icon--twitter">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href=""
            class="list social-list__link"
            aria-label="instagramm"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-list__icon social-list__icon--instagramm">
              <use href="./images/sprite.svg#icon-instagramm"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href=""
            class="list social-list__link"
            aria-label="facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-list__icon social-list__icon--facebook">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
