<section class="reviews">
    <div class="container">
        <h2 class="title">Reviews</h2>
        <article>
            <picture>
                <source srcset="/images/reviews/mobile/will-mobile.jpg 1x, /images/reviews/mobile/will-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                <source srcset="/images/reviews/tablet/will-tablet.jpg 1x, /images/reviews/tablet/will-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                <source srcset="/images/reviews/desktop/will-desktop.jpg 1x, /images/reviews/desktop/will-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                <img src="/images/reviews/mobile/will-mobile.jpg" alt="will-foto" />     
            </picture>
            <h3 class="name">Will</h3>
            <p class="text">
                Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
            </p>
        </article>
        
        
    </div>
</section>