<section class="reviews">
    <a id="reviews-section"></a>
    <div class="container">
        <h2 class="title title--reviews">Reviews</h2>
        <div class="slider">
            <div class="slider__item">
                <!-- <picture>
                    <source srcset="/images/reviews/mobile/john-mobile.jpg 1x, /images/reviews/mobile/john-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                    <source srcset="/images/reviews/tablet/john-tablet.jpg 1x, /images/reviews/tablet/john-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                    <source srcset="/images/reviews/desktop/john-desktop.jpg 1x, /images/reviews/desktop/john-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                    <img class="reviews__foto" src="/images/reviews/mobile/john-mobile.jpg" alt="john-foto" />     
                </picture> -->
                <img class="reviews__foto"
                    srcset="/images/reviews/desktop/john-desktop.jpg 1x, /images/reviews/desktop/john-desktop@2x.jpg 2x" 
                    src="/images/reviews/desktop/john-desktop.jpg" 
                    alt="john-desktop" 
                />
                <form action="#">
                    <div class="form-rating">
                        <div class="rating">
                            <div class="rating__items">
                                <input id="rating_5" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating_5" class="rating__label"></label>
                                <input id="rating_4" type="radio" class="rating__item" name="rating" checked value="4">
                                <label for="rating_4" class="rating__label"></label>
                                <input id="rating_3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating_3" class="rating__label"></label>
                                <input id="rating_2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating_2" class="rating__label"></label>
                                <input id="rating_1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating_1" class="rating__label"></label>
                            </div>
                        </div>
                    </div>
    
                </form>
                <h3 class="name">John</h3>
                <!-- <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people.
                    You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> -->
            </div>

            <div class="slider__item">
                <!-- <picture>
                    <source srcset="/images/reviews/mobile/will-mobile.jpg 1x, /images/reviews/mobile/will-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                    <source srcset="/images/reviews/tablet/will-tablet.jpg 1x, /images/reviews/tablet/will-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                    <source srcset="/images/reviews/desktop/will-desktop.jpg 1x, /images/reviews/desktop/will-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                    <img class="reviews__foto" src="/images/reviews/mobile/will-mobile.jpg" alt="will-foto" />     
                </picture> -->
                <img class="reviews__foto"
                    srcset="/images/reviews/desktop/will-desktop.jpg 1x, /images/reviews/desktop/will-desktop@2x.jpg 2x"
                    src="/images/reviews/desktop/will-desktop.jpg" alt="john-desktop" 
                />
                <form action="#">
                    <div class="form-rating">
                        <div class="rating">
                            <div class="rating__items">
                                <input id="rating__5" type="radio" class="rating__item" name="rating" checked value="5">
                                <label for="rating__5" class="rating__label"></label>
                                <input id="rating__4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__4" class="rating__label"></label>
                                <input id="rating__3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__3" class="rating__label"></label>
                                <input id="rating__2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__2" class="rating__label"></label>
                                <input id="rating__1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__1" class="rating__label"></label>
                            </div>
                        </div>
                    </div>
    
                </form>
                <h3 class="name">Will</h3>
                <!-- <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people.
                    You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> -->
            </div>
                   
            <div class="slider__item">
                <!-- <picture>
                    <source srcset="/images/reviews/mobile/elisabeth-mobile.jpg 1x, /images/reviews/mobile/elisabeth-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                    <source srcset="/images/reviews/tablet/elisabeth-tablet.jpg 1x, /images/reviews/tablet/elisabeth-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                    <source srcset="/images/reviews/desktop/elisabeth-desktop.jpg 1x, /images/reviews/desktop/elisabeth-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                    <img class="reviews__foto" src="/images/reviews/mobile/elisabeth-mobile.jpg" alt="elisabeth-foto" />     
                </picture> -->
                <img class="reviews__foto"
                    srcset="/images/reviews/desktop/elisabeth-desktop.jpg 1x, /images/reviews/desktop/elisabeth-desktop@2x.jpg 2x"
                    src="/images/reviews/desktop/elisabeth-desktop.jpg" alt="elisabeth-desktop" 
                />
                <form action="#">
                    <div class="form-rating">
                        <div class="rating">
                            <div class="rating__items">
                                <input id="rating5" type="radio" class="rating__item" name="rating" checked value="5">
                                <label for="rating5" class="rating__label"></label>
                                <input id="rating4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating4" class="rating__label"></label>
                                <input id="rating3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating3" class="rating__label"></label>
                                <input id="rating2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating2" class="rating__label"></label>
                                <input id="rating1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating1" class="rating__label"></label>
                            </div>
                        </div>
                    </div>
    
                </form>
                <h3 class="name">Elisabeth</h3>
                <!-- <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people.
                    You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> -->
            </div>

            <div class="slider__item">
                <!-- <picture>
                    <source srcset="/images/reviews/mobile/john-mobile.jpg 1x, /images/reviews/mobile/john-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                    <source srcset="/images/reviews/tablet/john-tablet.jpg 1x, /images/reviews/tablet/john-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                    <source srcset="/images/reviews/desktop/john-desktop.jpg 1x, /images/reviews/desktop/john-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                    <img class="reviews__foto" src="/images/reviews/mobile/john-mobile.jpg" alt="john-foto" />     
                </picture> -->
                <img class="reviews__foto"
                    srcset="/images/reviews/desktop/john-desktop.jpg 1x, /images/reviews/desktop/john-desktop@2x.jpg 2x"
                    src="/images/reviews/desktop/john-desktop.jpg" alt="john-desktop" />
                <form action="#">
                    <div class="form-rating">
                        <div class="rating">
                            <div class="rating__items">
                                <input id="rating_55" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating_55" class="rating__label"></label>
                                <input id="rating_44" type="radio" class="rating__item" name="rating" checked value="4">
                                <label for="rating_44" class="rating__label"></label>
                                <input id="rating_33" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating_33" class="rating__label"></label>
                                <input id="rating_22" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating_22" class="rating__label"></label>
                                <input id="rating_11" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating_11" class="rating__label"></label>
                            </div>
                        </div>
                    </div>
    
                </form>
                <h3 class="name">John</h3>
                <!-- <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people.
                    You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> -->
            </div>

            <div class="slider__item">
                <!-- <picture>
                    <source srcset="/images/reviews/mobile/will-mobile.jpg 1x, /images/reviews/mobile/will-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                    <source srcset="/images/reviews/tablet/will-tablet.jpg 1x, /images/reviews/tablet/will-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                    <source srcset="/images/reviews/desktop/will-desktop.jpg 1x, /images/reviews/desktop/will-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                    <img class="reviews__foto" src="/images/reviews/mobile/will-mobile.jpg" alt="will-foto" />     
                </picture> -->
                <img class="reviews__foto"
                    srcset="/images/reviews/desktop/will-desktop.jpg 1x, /images/reviews/desktop/will-desktop@2x.jpg 2x"
                    src="/images/reviews/desktop/will-desktop.jpg" alt="john-desktop" />
                <form action="#">
                    <div class="form-rating">
                        <div class="rating">
                            <div class="rating__items">
                                <input id="rating__55" type="radio" class="rating__item" name="rating" checked value="5">
                                <label for="rating__55" class="rating__label"></label>
                                <input id="rating__44" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__44" class="rating__label"></label>
                                <input id="rating__33" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__33" class="rating__label"></label>
                                <input id="rating__22" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__22" class="rating__label"></label>
                                <input id="rating__11" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__11" class="rating__label"></label>
                            </div>
                        </div>
                    </div>
    
                </form>
                <h3 class="name">Will</h3>
                <!-- <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people.
                    You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> -->
            </div>
                   
            <div class="slider__item">
                <!-- <picture>
                    <source srcset="/images/reviews/mobile/elisabeth-mobile.jpg 1x, /images/reviews/mobile/elisabeth-mobile@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)"/>
                    <source srcset="/images/reviews/tablet/elisabeth-tablet.jpg 1x, /images/reviews/tablet/elisabeth-tablet@2x.jpg 2x" type="image/jpg" media="(max-width: 1279px)"/>
                    <source srcset="/images/reviews/desktop/elisabeth-desktop.jpg 1x, /images/reviews/desktop/elisabeth-desktop@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"/>
                    <img class="reviews__foto" src="/images/reviews/mobile/elisabeth-mobile.jpg" alt="elisabeth-foto" />     
                </picture> -->
                <img class="reviews__foto"
                    srcset="/images/reviews/desktop/elisabeth-desktop.jpg 1x, /images/reviews/desktop/elisabeth-desktop@2x.jpg 2x"
                    src="/images/reviews/desktop/elisabeth-desktop.jpg" alt="elisabeth-desktop" />
                <form action="#">
                    <div class="form-rating">
                        <div class="rating">
                            <div class="rating__items">
                                <input id="rating55" type="radio" class="rating__item" name="rating" checked value="5">
                                <label for="rating55" class="rating__label"></label>
                                <input id="rating44" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating44" class="rating__label"></label>
                                <input id="rating33" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating33" class="rating__label"></label>
                                <input id="rating22" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating22" class="rating__label"></label>
                                <input id="rating11" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating11" class="rating__label"></label>
                            </div>
                        </div>
                    </div>
    
                </form>
                <h3 class="name">Elisabeth</h3>
                <!-- <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people.
                    You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen! Thank you so
                    much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> -->
            </div>     
        </div>
        <div class="slider-text">
            <article>
                <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen!
                </p> 
                <p class="text">
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
            </article>

            <article>
                <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
                    people. You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen!
                </p>
                <p class="text">
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>

            <article>
                <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
                    people. You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen!
                </p>
                <p class="text">
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>

            <article>
                <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
                    people. You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen!
                </p>
                <p class="text">
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>

            <article>
                <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
                    people. You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen!
                </p>
                <p class="text">
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>

            <article>
                <p class="text">
                    Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to
                    people. You can be sure you john manage to cook a elicious dish even if it is your first time in the kitchen!
                </p>
                <p class="text">
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p>
            </article>
            
            
        </div>        
    </div>
</section>