.button {
  display: inline-flex;
  padding: 9px 45px 8px 45px;
  min-width: 145px;
  color: $button-text-color;
  background: $button-background-color;
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  border-color: $button-background-color;
  border-radius: 25px;
  min-width: 145px;
  min-height: 40px;
  cursor: pointer;
  &:hover {
    background-color: $menu-hover-text-color;
    border-color: $menu-hover-text-color;
  }
  &:focus {
    background-color: $button-click-background-color;
    border-color: $button-click-background-color;
  }
  @media screen and (min-width: 1280px) {
    padding: 7px 43px 7px 43px;
    min-width: 158px;
    min-height: 45px;
    font-size: 24px;
    line-height: 1.2;
  }
}
// кнопка пока не точная пусть будет так нужно написать ментору много не соответсвий делал на глаз

.section-button {
  display: inline-flex;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: $button-background-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  //   @media screen and (min-width: 1280px){
  //     display: none;
  // }
}

.button-close {
  z-index: 3;
}
