.section-title{
    font-family: Caveat Brush;
// font-style: normal;
// font-weight: normal;
font-size: 24px;
line-height: $main-section-title-line-height;
text-align: center;
color: $main-text-color;

@media screen and (min-width: 1200px) {
    line-height: $desktop-section-title-line-height;
}
}