.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &--footer {
    align-items: flex-start;    
  }
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 9.5px;
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  &--footer {
    margin-bottom: 34px;
    @media screen and (min-width: 768px) {
      margin-bottom: 51px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 35px;
    }
  }
}
.social-list__link {
  display: flex;
  align-items: center;
}

.social-list__icon {
  fill: $main-text-color;
  height: 15px;
  .social-list__link &:hover,
  .social-list__link &:focus {
    fill: $button-text-color;
    background-color: $button-hover-background-color;
  }
  &--footer {
    align-items: flex-start;
  }
  &--twitter {
    width: 19px;
  }
  &--instagramm {
    width: 15px;
  }
  &--facebook {
    width: 8px;
  }
  @media screen and (min-width: 1280px) {
    height: 19px;

    &--twitter {
      width: 24px;
    }
    &--instagramm {
      width: 19px;
    }
    &--facebook {
      width: 10px;
    }
  }
}
