.about-us {
  padding-top: 307px;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 140px;
  }
}
.about-us__wrapper {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: auto;
  }
  @media screen and (min-width: 1280px) {
    line-height: $desktop-main-line-height;
    width: 392px;
  }
}
.text-size {
  margin-bottom: 10px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    &--last {
      padding-bottom: 63px;
    }
  }
}

.about-us__bg {
  background-image: url(/images/about/mobile/pic-mobile.png);
  background-size: 290px;
  background-repeat: no-repeat;
  background-position: top 20px center;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/about/mobile/pic-mobile@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(/images/about/tablet/pic-tablet.png);
    background-size: 330px;
    background-repeat: no-repeat;
    background-position: top 80px left 12px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(images/about/tablet/pic-tablet@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/about/desktop/pic-desktop.png);
    background-size: 512px;
    background-repeat: no-repeat;
    background-position: top 65px left 71px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/about/desktop/pic-desktop@2x.png);
    }
  }
}

//   @media screen and (min-width: 768px) {
//     background-image: url(/images/about/tablet/pic-tablet.png);
//     background-size: 330px;
//     background-repeat: no-repeat;
//     background-position: top 80px left 12px;
//   }
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .about-us__bg {
//     background-image: url(/images/about/mobile/pic-mobile@2x.png);
//   }
// }
// .about-us__bg {
//   @media screen and (min-width: 768px) {
//     background-image: url(/images/about/tablet/pic-tablet.png);
//     background-size: 330px;
//     background-repeat: no-repeat;
//     background-position: top 80px left 12px;
//   }
// }
// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .about-us__bg {
//     background-image: url(images/about/tablet/pic-tablet@2x.png);
//   }
// }

//    @media screen and (min-width: 1280px) {
//      background-image: url(/images/about/desktop/pic-desktop.png),
//        url(/images/about/desktop/pic-desktop@2x.png);
//      background-size: 512px;
//      background-repeat: no-repeat;
//      background-position: top 65px left 71px;
//    }
//  }
// пример
@media screen and (max-width: 1279.99px) {
  .input#inputHiddenContent3,
  #inputShownContent3 {
    display: none;
  }

  .span#spanHiddenContent3 {
    display: none;
  }

  .input#inputShownContent3:checked ~ .span#spanHiddenContent3 {
    display: block;
  }

  .input#inputHiddenContent3:checked ~ .span#spanHiddenContent3 {
    display: none;
  }

  .input#inputShownContent3:checked ~ #myReadMore .p--hidden {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .description-seen {
    display: none;
  }
  .section-button {
    display: none;
  }
}
