.background-image--up {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  @media screen and (max-width: 767.9px) {
    height: 460.51px;
    min-width: 320px;
    background-image: url(/images/hero/mobile/donuts-mobile.png),
      url(/images/background/mobile/bg-mobile.png);
    background-position: top left, bottom;
    background-size: 130px, cover;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/mobile/donuts-mobile@2x.png),
        url(/images/background/mobile/bg-mobile@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    height: 622px;
    max-width: 769px;
    background-image: url(/images/hero/hero-tablet/donuts-tablet.png),
      url(/images/background/tablet/bg-tablet.png);
    background-position: top right 141px, bottom;
    background-size: 377px, cover;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/hero-tablet/donutstablet@2x.png),
        url(/images/background/tablet/bg-tablet@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    height: 1035.52px;
    max-width: 1280.22px;
    background-image: url(/images/hero/hero-desktop/spoon-desktop.png),
      url(/images/hero/hero-desktop/donuts-desktop.png),
      url(/images/background/desktop/bg-desktop.png);
    background-position: left, top right, bottom;
    background-size: 178px, 710px, cover;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/hero-desktop/spoondesktop@2x.png),
        url(/images/hero/hero-desktop/donuts-desktop@2x.png),
        url(/images/background/desktop/bg-desktop@2x.png);
    }
  }
}
.background-image--down {
  // height: 1214.6px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/background/mobile/bg2-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/background/mobile/bg2-mobile@2x.png);
  }
  
  @media screen and (min-width: 768px) {
    // height: 1259.99px;
    max-width: 773px;
    background: 
      url(/images/registration/tablet/regdonut-tablet.png) top 578px left/235px 255px no-repeat,
      url(/images/registration/tablet/confetti-tablet.png) top 651px right/280px 374px no-repeat,
      url(/images/background/tablet/bg2-tablet.png) top center no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
      url(/images/registration/tablet/regdonut-tablet@2x.png), 
      url(/images/registration/tablet/confetti-tablet@2x.png),
      url(/images/background/tablet/bg2-tablet@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    // height: 1599.7px;
    max-width: 1285.78px;
    background: 
      url(/images/registration/desktop/regdonut-desktop.png) top 686px left 63px/257px 255px no-repeat,
      url(/images/registration/desktop/confetti-desktop.png) top 690px right/606px 589px no-repeat,
      url(/images/footer/desktop/flour-desktop.png) right bottom/319px 184px no-repeat,
      url(/images/background/desktop/bg2-desktop.png) top center no-repeat;
    
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
        url(/images/registration/desktop/regdonut-desktop@2x.png),
        url(/images/registration/desktop/confetti-desktop@2x.png)
        url(/images/footer/desktop/flour-desktop@2x.png),
    }
  }
}

// <фон> = background-image || background-position [ / background-size ]? ||
// background-repeat || background-attachment || background-origin ||
// background-clip
