.background-image--up {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  @media screen and (max-width: 767.9px) {
    height: 460.51px;
    min-width: 320px;
    background-image: url(/images/hero/mobile/donuts-mobile.png),
      url(/images/background/mobile/bg-mobile.png);
    background-position: top left, bottom;
    background-size: 130px, cover;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/mobile/donuts-mobile@2x.png),
        url(/images/background/mobile/bg-mobile@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    height: 622px;
    // ком юля
    // max-width: 768px;
    background-image: url(/images/hero/hero-tablet/donuts-tablet.png),
      url(/images/background/tablet/bg-tablet.png);
    background-position: top right 141px, bottom;
    background-size: 377px, cover;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/hero-tablet/donutstablet@2x.png),
        url(/images/background/tablet/bg-tablet@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    height: 1078px;
    // max-width: 1280px;
    background-image: url(/images/hero/hero-desktop/spoon-desktop.png),
      url(/images/hero/hero-desktop/donuts-desktop.png),
      url(/images/background/desktop/bg-desktop.png), url(/images/about/desktop/pic-desktop.png);
    background-position: left top 165px, top right, bottom, top 567px left 69px;
    background-size: 142px, 719px, cover, 491px;
    background-color: $registration-form-background;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/hero-desktop/spoondesktop@2x.png),
        url(/images/hero/hero-desktop/donuts-desktop@2x.png),
        url(/images/background/desktop/bg-desktop@2x.png),
        url(/images/about/desktop/pic-desktop@2x.png);
    }
  }
}

.background-first-bottom {
  height: 1215px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/background/mobile/bg2-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/background/mobile/bg2-mobile@2x.png);
  }
  @media screen and (min-width: 768px) {
    height: 1260px;
    // min-width: 768px;
    background-image: url(/images/background/tablet/bg2-tablet.png);
    background-position: top center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/background/tablet/bg2-tablet@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    height: 1500px;
    // min-width: 1280px;
    // max-width: 1280px;
    background: url(/images/background/desktop/bg2-desktop.png);
    background-position: top center;
    background-size: cover;
    // background-color: $registration-form-background;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/background/desktop/bg2-desktop@2x.png);
    }
  }
  &__registration {
    background-image: url(/images/footer/mobile/flour-mobile.png);
    background-position: right bottom;
    background-size: 87px 64px;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/footer/mobile/flour-mobile@2x.png);
    }
    @media screen and (min-width: 768px) {
      background-image: url(/images/registration/tablet/regdonut-tablet.png),
        url(/images/registration/tablet/confetti-tablet.png),
        url(/images/footer/tablet/flour-tablet.png);
      background-position: top 60px left, top 129px right, right bottom;
      background-size: 235px, 280px, 147px 144px;
      background-repeat: no-repeat;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/registration/tablet/regdonut-tablet@2x.png),
          url(/images/registration/tablet/confetti-tablet@2x.png),
          url(/images/footer/tablet/flour-tablet@2x.png);
      }
    }
    @media screen and (min-width: 1280px) {
      background: url(/images/registration/desktop/regdonut-desktop.png),
        url(/images/registration/desktop/confetti-desktop.png),
        url(/images/footer/desktop/flour-desktop.png);
      background-position: top 94px left 69px, top 92px right 4px, right bottom;
      background-size: 257px, 589px 618px, 319px 184px;
      background-repeat: no-repeat;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/registration/desktop/regdonut-desktop@2x.png),
          url(/images/registration/desktop/confetti-desktop@2x.png),
          url(/images/footer/desktop/flour-desktop@2x.png);
      }
    }
  }
}
// .background-first-bottom__footer {
//   background-image: url(/images/footer/mobile/flour-mobile.png);
//   background-position: right bottom;
//   background-size: 87px 64px;
//   background-repeat: no-repeat;
//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: url(/images/footer/mobile/flour-mobile@2x.png);
//   }
//   @media screen and (min-width: 768px) {
//     background-image: url(/images/footer/tablet/flour-tablet.png);
//     background-size: 147px 144px;
//     background-repeat: no-repeat;
//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(/images/footer/tablet/flour-tablet@2x.png);
//     }
//   }
//   @media screen and (min-width: 1280px) {
//     background: url(/images/footer/desktop/flour-desktop.png);
//     background-repeat: no-repeat;
//     background-position: right bottom;
//     background-size: 319px 184px;
//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(/images/footer/desktop/flour-desktop@2x.png);
//     }
//   }
// }
