// .section-contact {
//   padding-top: 48px;
//   @media screen and (min-width: 768px) {
//     padding-top: 56px;
//   }
//   @media screen and (min-width: 1280px) {
//     padding-top: 53px;
//   }
// }

.contact__text {
  line-height: 4.06;
  text-align: center;
}

.contact__field {
  width: 265px;
  position: relative;

  // margin-bottom: 25px;
  //размер увеличен от макета
  margin-bottom: 30px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 410px;
    // margin-bottom: 20px;
    //размер увеличен от макета
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    width: 430px;
  }
}

.contact__input {
  width: inherit;
  height: 22px;
  border: none;
  border-bottom: 1px solid $pagination-color;
  background-color: transparent;

  &:not(:placeholder-shown):required:invalid {
    color: $registration-form-input-invalid;
    // border-bottom: 2px solid $registration-form-input-invalid;
  }
}

.contact__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: $input-text-color;

  transition: transform, opacity 250ms linear;
  opacity: 1;

  .contact__input:focus + &,
  .contact__input:hover + &,
  .contact__input:not(:placeholder-shown) + & {
    // transform: translateY(-30px);
    transform: translateY(-35px);
    opacity: 0.5;
  }
}

.contact__button {
  display: block;
  margin: 10px auto 0px auto;
  width: 145px;
  height: 40px;
  background-color: $button-background-color;
  border-radius: 25px;
  border: none;
  color: $button-text-color;
  font-family: $second-font;
  font-size: 18px;
  //   line-height: 3.61;
  text-align: center;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;
    font-size: 24px;

    // line-height: 1.81;
  }

  &:hover {
    background-color: $menu-hover-text-color;
    border-color: $menu-hover-text-color;
  }
  &:focus {
    background-color: $button-click-background-color;
    border-color: $button-click-background-color;
  }
}
