// ---------------------контейнер секциии регистрация------

.regisraton_container {
  padding-top: 30px;
  padding-bottom: 27px;
  width: 100%;
  height: 567px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 0;
    width: 768px;
    // width: 100%;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 51px;
    height: 426px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

// ---------заголовок секции------

.regisraton_tittle {
  left: 50%;
  top: 15px;

  transform: translate(-50%, 50%);
  position: absolute;
  padding: 0;
  margin: 0;
  display: block;
  width: 106px;
  height: 65px;
  @media screen and (min-width: 768px) {
    top: 10px;
  }
}

// ---------контейнер для контента и формы------

.container_content {
  position: relative;
  display: block;
  height: 510px;
  width: 290px;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  // padding-top: 91px;
  padding-bottom: 47px;
  background-color: $registration-form-background;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 634px;
    height: 260px;
    border-radius: 150px 150px 150px 150px;
    // transform: rotate(-90deg);
    margin: 0;
    padding: 0;
    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 822px;
  }
}

// ---------КОНТЕЙНЕР ДЛЯ ВРЕМЕНИ И ЦЕНЫ------
.container_content-one {
  padding-top: 91px;
  padding-bottom: 20px;
  height: 202px;
  width: 265px;
  border-bottom: 1px solid $input-text-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
  @media screen and (min-width: 768px) {
    // transform: rotate(90deg);
    width: 179px;
    height: 190px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid $input-text-color;
    padding-top: 16px;
    padding-bottom: 74px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 264px;
    height: 190px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid $input-text-color;
    padding-top: 16px;
    padding-bottom: 69px;
    padding-right: 30px;
    margin-right: 30px;
  }
}

// ---------ВРЕМЯ РЕГИСТРАЦИИ------

.registration_time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 44px;
  margin-bottom: 25px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: $desktop-main-line-height;
  color: $main-text-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
    margin-left: 35px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 0;
    margin-left: 107px;
    width: 127px;
    height: 48px;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

// ---------Цена------

.registration_price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 22px;
  // margin-bottom: 20px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: $desktop-main-line-height;
  color: $main-text-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 99px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 179px;
    width: 55px;
    height: 24px;
  }
}

// ---------ФОРМА РЕГИСТРАЦИИ-- --------
.form-registration {
  width: 265px;
  height: 297px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  input {
    font-family: Montserrat;
    color: $input-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }

  input::-webkit-input-placeholder {
    color: $input-text-color;
  }
  input:-ms-input-placeholder {
    color: $input-text-color;
  }
  input::-ms-input-placeholder {
    color: $input-text-color;
  }
  input::placeholder {
    color: $input-text-color;
  }
  @media screen and (min-width: 768px) {
    width: 455px;
    height: 100%;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 54px;
    padding-bottom: 53px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}

// ---------ФОРМА ЗАГОЛОВОК-- --------

.form-registration-title {
  // display: block;
  padding-left: 30px;
  padding-right: 30px;
  width: 265px;
  height: 40px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: $main-line-height;
  color: $main-text-color;
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    padding: 0;
    width: 234px;
    padding-right: 20px;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 15px;
    margin-bottom: 13px;
    font-size: 18px;
  }
}

// ---------ФОРМА input-- --------

// -----------ОБЩИЕ СТИИ НА LABEL--------

.general-label-registration {
  height: 23px;
  border: none;
  // border-bottom: 1px solid $pagination-color;
}

// -----------ОБЩИЕ СТИИ НА INPUT--------

.general-input-registration {
  width: 265px;
  border: none;
  margin-bottom: 2px;
  // border-bottom: 1px solid transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  border-bottom: 0.1px solid $pagination-color;
  @media screen and (min-width: 768px) {
    width: 234px;
    border-bottom: 1px solid $pagination-color;
  }
}

/* -----------------ХОВЕР И ФОКУС НА ИНПУТЫ-------------------- */

.igeneral-input-registration:hover,
.general-input-registration:focus {
  outline: none;
  // border-color: #2196f3;
  border-color: rgb(120, 52, 3);
  transition: border-color, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.1);
}

.form-registration_label1 {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

// .form-registration_input1 {
// }

.form-registration_label2 {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

// .form-registration_input2 {

// }

.form-registration_label3 {
  margin-bottom: 37px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

// .form-registration_input3 {

//   // border-bottom: 0px solid $pagination-color;
// }

// ----------------Кнопка регистрации
.form-registration_button {
  position: absolute;
  top: 110px;
  right: 21px;
  // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // transform: scale(1);
  @media screen and (min-width: 1280px) {
    top: 110px;
    right: 98px;
  }
}
